@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Use this application to manage your leave requests, tasks and submit your company expenses.</p>
    <p>Click on the links above to get started.</p>
</div>