@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This privacy policy discloses the privacy practices for LeaveManagement. This privacy policy applies solely to information collected by this web site. It will notify you of the following:
</p>
<ul>
    <li>What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.</li>
    <li>What choices are available to you regarding the use of your data.</li>
    <li>The security procedures in place to protect the misuse of your information.</li>
    <li>How you can correct any inaccuracies in the information.</li>
</ul>